   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Todolist</title>
</head>
<body>
    <div class="container mt-20">
        <form action="" method="POST" class="mt-5">
            {% csrf_token %}
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" {% if form.is_bound %}value="{{ form.name.value }}"{% endif %}  placeholder="Eg:Hariprakash" name="name">
            {% for err in form.name.errors %}
                    <small class="text-danger mt-2">{{ err }}</small><br>
            {% endfor %}
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" {% if form.is_bound %}value="{{ form.password.value }}"{% endif %} name="password">
            {% for err in form.password.errors %}
                    <small class="text-danger mt-2">{{ err }}</small><br>
            {% endfor %}
            <button class="btn btn-primary mt-2">login</button><br>
            <br>
            <label for="" class="form-label">Don't have an account   </label><br>
            <a href="/register" class="btn btn-primary mt-2">Register</a>
        </form>
    </div>
</body>
</html>
